<ion-view title="Theme1" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="theme1-card22">
            <ion-item class="item-thumbnail-left dark  " id="theme1-list-item11" href="tel:">
                <img src="img/L5nI35KtQH6WDHYcmbv8_img3.png">
                <h2dark>Thème 1</h2dark>
            </ion-item>
        </div>
        <ion-list id="theme1-list4" class=" ">
            <ion-item class="item-icon-right  " id="theme1-list-item16" ui-sref="menu.sousThMe1">Sous thème 1
                <i class="icon ion-more"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="theme1-list-item17">Sous thème 2
                <i class="icon ion-more"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="theme1-list-item18">Sous thème 3
                <i class="icon ion-more"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>