<ion-view view-title="Theme">
  <ion-content>
    <h1>Sous theme</h1>


    <!--<ion-list>
         <ion-item ng-repeat="Theme in Themes" class="item item-text-wrap">
          <div ng-class="isItemShown(Theme) ? 'item-expand active' : 'item-expand inactive'">
            <h2>{{ Theme.title }}</h2>
            <p>{{ Theme.text }}</p>
          </div>
          <div ng-click="toggleItem(Theme)" class="item-expand-footer">
            <i ng-class="isItemShown(Theme) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
            {{ isItemShown(Theme) ? 'Less' : 'More' }}
          </div>
        </ion-item>

      </ion-list>-->
  </ion-content>
</ion-view>
